.animation{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid black;
    border-radius: 50%;
    animation: spinner 1s infinite linear ;
}
@keyframes spinner {
    
    /* from {
        transform: rotate(0deg)
    } */
    to {
        transform: rotate(360deg)
    }

}